// Global variable
$breakpoint: 576px;



@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn-3d($btn-bg: #fff, $shadow-offset: 4px, $padding-x: .45em, $padding-y: .08em, $border-radius: .5rem) {
    background-color: $btn-bg;
    box-shadow: 0 $shadow-offset 0 darken($btn-bg, 10%);
    padding: $padding-y $padding-x;
    border-radius: $border-radius;

    &:hover, &:focus {
        box-shadow: none;
        transform: translateY($shadow-offset);
    } 
}

@mixin rounded-input($border-radius: 1rem, $padding-x: .1em, $padding-y: .5em) {
    border: solid 1px rgb(156, 156, 156);
    border-radius: $border-radius;
    padding: .1em .5em;
}

@mixin eliminate-btn-style {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@mixin eliminate-list-style {
    list-style-type: none;
}


@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-25%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}