@use './utils';

.controls {
    position: fixed;
    bottom: 10px; right: 10px;
    @include utils.flex();
    gap: 10px;
}

.controls--command {
    @include utils.rounded-input();
    display: none;
    min-width: 300px;

    @media screen and (min-width: utils.$breakpoint) {
        display: block;
    }
}

.controls--btn {
    @include utils.eliminate-btn-style();
    color: white;
    font-size: 2.5rem;
}

.controls--save {
    @include utils.btn-3d(#3498db, 4px, .35em, .25em);
}

.controls--load {
    @include utils.btn-3d(#f39c12, 4px, .35em, .25em);
}

.controls--savefile {
    @include utils.btn-3d(#2ecc71, 4px, .35em, .25em);
}

.controls--loadfile {
    @include utils.btn-3d(#c0392b, 4px, .35em, .25em);
}

.controls--download {
    @include utils.btn-3d(#34495e, 4px, .35em, .25em);
}

.controls--mobileview {
    display: inline-block;
    @include utils.btn-3d(#8e44ad, 4px, .35em, .25em);

    @media screen and (min-width: utils.$breakpoint) {
        display: none;
    }
}